<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yujia.wiki_spring.mapper.personMapper">

    <select id="list" resultType="com.yujia.wiki_spring.domain.person">
        select `id`, `name`, `password`,`birthday` from `person`
    </select>

</mapper>